<section>
    <div class="text-elements">
        <h1>Nossos Serviços</h1>
        <img ngSrc="/assets/rectangle.png" alt="ilustração" width="56" height="2">
        <p>Nós fornecemos a você as melhores opções para você. Ajuste-o às suas necessidades de saúde e certifique-se de que se submete ao tratamento com os nossos médicos altamente qualificados. Poderá consultar-nos qual o tipo de serviço mais adequado à sua saúde</p>
    </div>

    <div class="cards">
        <div class="card">
            <img ngSrc="/assets/Frame1.png" alt="ilustração" width="91" height="90">
            <h2>Procurar médico</h2>
            <p>Escolha seu médico entre milhares de hospitais especializados, gerais e confiáveis.</p>
        </div>

        <div class="card">
            <img ngSrc="/assets/Frame2.png" alt="ilustração" width="61" height="85">
            <h2>Farmácia Online</h2>
            <p>Compre seus medicamentos com nosso aplicativo mobile com um sistema de entrega simples.</p>
        </div>

        <div class="card">
            <img ngSrc="/assets/Frame3.png" alt="ilustração" width="67" height="95">
            <h2>Consulta</h2>
            <p>Consulta gratuita com nossos médicos de confiança e obtenha as melhores recomendações.</p>
        </div>

        <div class="card">
            <img ngSrc="/assets/Frame4.png" alt="ilustração" width="67" height="95">
            <h2>Informações detalhadas</h2>
            <p>Consulta gratuita com nossos médicos de confiança e obtenha as melhores recomendações.</p>
        </div>

        <div class="card">
            <img ngSrc="/assets/Frame5.png" alt="ilustração" width="80" height="71">
            <h2>Cuidado de emergência</h2>
            <p>Você pode obter atendimento urgente 24 horas por dia, 7 dias por semana, para você ou seus filhos e sua família amável.</p>
        </div>

        <div class="card">
            <img ngSrc="/assets/Frame6.png" alt="ilustração" width="69" height="95">
            <h2>Monitoramento</h2>
            <p>Rastreie e salve seu histórico médico e dados de saúde</p>
        </div>
        <app-btn btn-text="Saiba mais" [withBg]="false" style="margin-top: 30px;"></app-btn>

    </div>
</section>
