<header class="app-header">
    <nav class="app-navbar">
        <div class="navbar-logo">
          <img ngSrc="./assets/logo.png" width="160" height="43"/>
        </div>
        <ul class="navbar-links">
          <li><a href="#" style="color: #1F1534"><strong>Home</strong></a></li>
          <li><a href="#">Ache um médico</a></li>
          <li><a href="#">Apps</a></li>
          <li><a href="#">Depoimentos</a></li>
          <li><a href="#">Sobre nós</a></li>
        </ul>
      </nav>
      
</header>
