<section class="form-section">
    <div class="text">
        <h3>Tiramos as suas dúvidas</h3>
        <p>
            Se você tiver alguma dúvida ou precisar de mais informações sobre os cuidados de saúde progressivos e acessíveis oferecidos pela Trafalgar, não hesite em entrar em contato conosco. Nossa equipe está aqui para ajudar e fornecer o suporte necessário para garantir que você receba os melhores serviços de saúde, acessíveis em dispositivos móveis e online.
        </p>
    </div>
    <form>
        <label for="nome">Nome</label>
        <input id="nome"/>
        <label for="email">Email</label>
        <input id="email"/>
        <app-btn btn-text="Entrar em contato" [withBg]="false" style="margin-top: 30px;"></app-btn>
    </form>
</section>
