<app-header></app-header>
<main>
    <section class="main-section">
        <div class="headline">
            <h1>Saúde virtual para você</h1>
            <p>Trafalgar oferece cuidados de saúde progressivos e acessíveis, acessíveis em dispositivos móveis e online para todos.</p>
            <button>Consulte hoje</button>
        </div>

        <div class="illustration">
            <img ngSrc="/assets/trafalgar-illustration.png" alt="ilustração" width="693" height="598" >
        </div>

    </section>
</main>