<app-header></app-header>
<main>
    <section class="main-section">
        <div class="headline">
            <h1>Saúde virtual para você</h1>
            <p>Trafalgar oferece cuidados de saúde progressivos e acessíveis, acessíveis em dispositivos móveis e online para todos.</p>
            <app-btn btn-text="Consulte hoje" [withBg]="true"></app-btn>

        </div>

        <div class="illustration">
            <img ngSrc="/assets/trafalgar-illustration.png" alt="ilustração" width="693" height="598" >
        </div>
    </section>

    <section class="product-section">
        <app-products></app-products>
    </section>
    
    <section class="contact-section">
        <app-contact-form></app-contact-form>
    </section>
    
</main>