.btn{
    padding: 15px 49px;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.withBg {
    background-color: #458FF6;
    color: white;
    font-weight: bold;
}

.withoutBg {
    color: #458FF6;
    border: 2px solid #458FF6;
    font-weight: normal;
    background-color: white;
}